.products{
    display: grid;
    font-family: 'poppins';
   // width: 600px;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2px;
    cursor: pointer;
}

.productContainer:hover{
    scale: 1.03;
    
    box-shadow: 1px 2px 4px 0px #8c8a8abf;
}

.productContainer{
    height: fit-content;
   
    margin: 24px 20px;
    position: relative;
    transition: 0.3s;
   .top{
   
    img{
      height: 200px;
       width: 200px;
        
    }
   }

   .bottom{
    
    margin-top:5px ;
    padding: 5px 12px;
    
    .title{
        height: 25px;
        font-size: 12px;
        margin: 5px 0;
    }
    .price{
        font-size: 22px;
         margin: 8px 0;
    }
   }
}

@media (max-width:560px) { 
    .products{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .productContainer{
         height: 150px;
         

         .top{
            img{
                height: 100px;
                width: 100px;
            }
         }

         .bottom{
            h3{
                font-size: 11px;
            }

            .price{
            top: 0;
            right: 0;
            padding: 2px;
            height: fit-content;
            }
         }
    }
}